/* Chargement essayer */

.loader {
    align-items: center;
    display: flex;
    font-size: 20px;
    height: 6em;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    position: relative;
    transform: translateY(-50%);
    width: 6em;
}

.loader .face {
    animation: animate023845 3s linear infinite;
    border-radius: 50%;
    border-style: solid;
    position: absolute;
}

.loader .face:nth-child(1) {
    --deg: -45deg;
    animation-direction: normal;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0;
    color: #ffd700;
    height: 100%;
    width: 100%;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: #00ff00;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0 0 0.2em;
    --deg:135deg;
    animation-direction: reverse ;
}


@keyframes animate023845 {
    to {
        transform: rotate(1turn);
    }
}


.body{
    color: #FFF;
    font-family: Arial;
}

/* Page d'accueil */

.split{
    background: linear-gradient(90deg, #ffffff86, #ffffff86);
    height: 100%;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.centered{
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.body-background1{
    background-image: url(CampusSciencesU.jpeg);
    background-size: cover;
}

/* Page login */

.body-login {
    background: linear-gradient(90deg, #ffffff86, #ffffff86);
    height: 100%;
    margin: 0;
    padding: 0;
}

.body-success {
    background: linear-gradient(90deg, #13b443, rgb(99, 226, 120));
    height: 100vh;
    margin: 0;
    padding: 0;
}

.body-failure {
    background: linear-gradient(90deg, #cf0d0d, #000);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.div-login {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.div-login h1 {
    border-bottom: 1px solid #c0c0c0;
    padding: 20px 0;
    text-align: center;
}

.div-login form {
    box-sizing: border-box;
    padding: 0 40px;
}

.div-error {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    width: 400px;
}

.div-error p {
    background: #FFF;
    color: #666666;
    padding: 15px 0;
    text-align: center;
}

.div-list {
    justify-content: center;
    height: 50px;
    min-width: 250px;
    position: relative;
}

.texte-select {
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    position: relative;
}

form .texte {
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    position: relative;
}

.texte input {
    background: none;
    border: none;
    font-size: 16px;
    height: 40px;
    outline: none;
    padding: 0 5px;
    width: 100%;
}

.texte label {
    color: #adadad;
    font-size: 16px;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}

.texte span::before {
    background: #2691d9;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 40px;
    transition: .5s;
    width: 0%;
}

.texte input:focus ~ label,
.texte input:valid ~label {
    color: #2691d9;
    top: -5px;
}

.texte input:focus ~ span::before,
.texte input:valid ~ span::before {
    width: 100%;
}

.pass {
    color: #a6a6a6;
    cursor: pointer;
    margin: -5px 0 20px 5px;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
    font-weight: 700;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
}

.register-link {
    color: #666666;
    font-size: 16px;
    margin: 30px 0;
    text-align: center;
}

.register-link a {
    color: #2691d9;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

select {
    appearance: none;
    background-color: #2691d9;
    border: none;
    border-radius: 15px;
    color: #FFF;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    width: 70%;
}

option {
    color: #FFF;
    text-align: center;
}

select:hover {
    background: rgb(85, 85, 85);
}

/* Admin */

.divAdmin {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
    height: 50%;
    left: 50%;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}


.divAdmin h1 {
    border-bottom: 1px solid #c0c0c0;
    font-size: 40px;
    margin-bottom: 10%;
    padding: 15px;
}

.divAdmin button {
    background: #2691d9;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10%;
    outline: none;
    padding: 10px;
}

.divAdmin button:hover {
    background: #0d2cb8;
    transition: 1.5s;
}

/* Commercial */

.divCommercial {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
    height: 50%;
    left: 50%;
    padding: 30px;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.body-bgs{
    background: linear-gradient(90deg, #080808, #00008b);
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.td {
    color: #f0f8ff;
}

/* Navigation Bar */

.navbar {
    background-color: #000000a5;
    padding: 20px 10px 20px 0px;
    transition: all ease 0.4s;
    z-index: 1;
}

.navbar-brand{
    color: #FFF !important;
    font-size: 22px;
    padding-left: 10%;
}

.navA {
    border-radius: 5px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}

.navbar-header {
    margin-left: 30px;
}

.navA:hover {
    background: #2691d9;
    color: #FFF;
}

.navLogo {
    border-radius: 5px;
    color: #FFF;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;    
}

.navLogo:hover {
    background: none;
}

.name {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    float: left;
    margin-right: 30px;
    padding: 10px;
    text-decoration: underline;
}

.time {
    border: solid;
    border-radius: 5px;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    float: right;
    padding: 10px;
    text-align: right;
    text-decoration: none;
}

.divTime {
    margin-right: 30px;
}

.time:hover {
    color: #FFF;
}

.name:hover {
    color: #FFF;
}

.navbar .navbar-nav li a {
    color: #FFF;
    font-size: 16px;
}
.images {
    height: 25%;
    width: 25%;
}

.logo {
    width: 80px;
}

.navbar span {
    font-size: 22px;
}

.imgBack {
    z-index: 0;
}

/* Body admin menu */

.bodyAdmin {
    background-image: url("CampusSciencesU.jpeg");
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}

.containerAdmin {
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.divAdminMenu {
    background: #b4b4b4;
    border-radius: 5px;
    margin-top: 10%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    width: 85%;
}

.adminTitle {
    border-bottom: solid #c0c0c0;
    margin-bottom: 5%;
    margin-top: 5%;
}

.divTitle {
    border-bottom: solid #c0c0c0 2px;
    border-width: 100%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.divTitle h1 {
    margin-bottom: 3%;
}

.divAdminMenu a {
    color: #000;
    text-decoration: none;
}

.divAdminMenu a:hover {
    cursor: pointer;
}

.divAdminMenu .row {
    margin-top: 5%;
}

.divAdminMenu .col-md-4 {
    margin-bottom: 1rem;
}

.col {
    margin-top: 1rem;
}

.divAdminMenu .col-md-4,
.divAdminMenu .col-md-3,
.divAdminMenu .col {
    background: #FFF;
    border: solid #adadad 2px;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.divAdminMenu p {
    color: #adadad;
    margin-top: 3%;
}


.divChoice {
    background: #FFF;
}

table {
   border: 5px;
   border-color: #adadad;
}

.alerte {
    border: 2px solid #FF4754;
    border-radius: 4px;
    color: #FFF;
    height: 8%;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: all .2s;
    width: 8%;
}
  
.alertes:hover {
    background-color: #FF4754;
}

.alertes span {
    align-items: center;
    background: #FF4754;
    border: 4px solid #121212;
    border-radius: 50%;
    display: flex;
    height: 35px;
    justify-content: center;
    position: absolute;
    right: -0.5rem;
    top: -0.5rem;
    width: 35px;
}

.cloche {
    height: 50px;
    width: 50px;
}
